
@font-face {
  font-family: 'avenir_next_lt_proregular';
  src: url('../fonts/avenir_1-webfont.woff2') format('woff2'),
       url('../fonts/avenir_1-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'avenir_next_lt_probold';
  src: url('../fonts/avenir_4-webfont.woff2') format('woff2'),
       url('../fonts/avenir_4-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'avenir_next_lt_prodemi';
  src: url('../fonts/avenir_2-webfont.woff2') format('woff2'),
       url('../fonts/avenir_2-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}/*Keyframes*/
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
   100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
  }
  
  @-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
  }
  
  @-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
   50% {background-color:#CDDBF0;}
   100% {background-position: 500px 1000px, 400px 400px, 300px 300px; background-color:#CDDBF0;}
  }
  
  @-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
   100% {background-position: 500px 1000px, 400px 400px, 300px 300px;}
  }

  body {
    margin:0 auto;
    background-color: #CDDBF0; 
    background-image: url('https://designshack.net/tutorialexamples/letitsnow/snow.png'), url('https://designshack.net/tutorialexamples/letitsnow/snow3.png'), url('https://designshack.net/tutorialexamples/letitsnow/snow2.png');
    -webkit-animation: snow 20s linear infinite;
    -moz-animation: snow 20s linear infinite;
    -ms-animation: snow 20s linear infinite;
    animation: snow 20s linear infinite;
    font-family: 'avenir_next_lt_proregular', sans-serif;
  }

  h1 {
    font-family: 'avenir_next_lt_proregular', sans-serif;
  }

#play-pause img {
  width:1.4em;
}

#player-container #play-pause {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
position:absolute;
top:0;
  padding:1em;
cursor: pointer;
z-index:98;
}

#player-container p {
display:flex;
margin:0;
font-family: 'avenir_next_lt_proregular', sans-serif;
font-size:0.8em;
}

.play {
background-image: url(../images/music.png);
}
.pause {
  background-image: url(../images/music.png);
}

#maze_page {
  display:grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  grid-template-rows: 1fr;
    min-height:100vh;
    min-width:100vw;
  align-items:center;
}

#logo {
  display: flex;
  flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom:2em;
}


#logo img{
  max-width:250px;
  
}

#gamestart {
  position: absolute;
  height:100%;
  min-width:100vw;
  background-color: rgba(205,219,240,0.8);
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
z-index:98;
}

#gamestart img {
  max-width:2em;
}

#gamestart h1 {
  margin:2em;
  text-align:center;
}

#scoreboard {
  display:grid;
  grid-template-columns: minmax(200px,250px);
  background: white;
  padding:1em;
  grid-column:2/3;
  grid-row:1/2;
  margin-right:1em;
}

.points {
  grid-column: 1/3;
  text-align:center;
  background: #CDDBF0;
  
}

.itemscore {
  grid-column:1/3;
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  text-align:left;
  column-gap: 0.2em;
  margin:0.5em;
  font-size:.8em;
}

.itemscore img {
  max-width:2.4em;
  display:flex;
  
}

button {
  margin-top:1em;
  font-family: 'avenir_next_lt_proregular' sans-serif;
}

#gameover {
  display:none;
  position: absolute;
  min-height:100vh;
  min-width:100vw;
  background-color: rgba(205,219,240,0.6);
  justify-content: center;
align-items: center;
flex-direction: column;
z-index:100;
font-family: 'avenir_next_lt_proregular', sans-serif;
text-align:center;
}

#gameover h1 {
  margin:2em;
}

#maze_container {
    position: relative;
    display: inline-block;
    grid-column: 3/4;
    grid-row:1/2;
  }
  #maze {
    position: relative;
    background-color: #CDDBF0;
    background-size: 8em 8em;
    justify-self: center;
  }
  #maze div {
    display: flex;
  }
  #maze div div {
    position: relative;
    width: 1.8em;
    height: 1.8em;
  }
  #maze div div::after {
    position: absolute;
    left: -3px;
    top: -4px;
    text-align: center;
    text-shadow: 0 0 1px black;
    font-size: 1.2em;
    z-index: 10;
  }
  #maze div div.door.exit::after {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/home.png);
    background-size: 100%;
  }
  #maze div div.nubbin::after {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/charger.png);
    background-size: 100%;
  }
  #maze div.nubbin:nth-of-type(3n)::after {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/smartthermo.png);
    background-size: 100%;
  }
  #maze div.nubbin:nth-of-type(5n)::after {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/heatpump.png);
    background-size: 100%;
  }
  #maze div.nubbin:nth-of-type(7n)::after {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/bioenergy.png);
    background-size: 100%;
  }
  #maze div.nubbin:nth-of-type(11n)::after {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/solarpanel.png);
    background-size: 100%;
  }
  #maze div.hero::after {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/elfie.png);
    background-size: 100%;

  }
  #maze.face-right div.hero::after {
    transform: scale(-1, 1);
  }
  #maze div div.wall, #maze div div.nubbin.wall, #maze div div.door.exit {
    background-color: #85B1F2;
    background-image: linear-gradient(45deg, #698CBF 25%, transparent 55%);
    background-size: 1.8em;
  }
  #maze div div.nubbin.wall::after {
    content: "";
  }
  #maze div div.sentinel.wall {
    background: transparent;
  }
  #maze div div.sentinel.wall::after {
    content: "\1F40A";
  }
  #maze div.sentinel.wall:nth-of-type(3n)::after {
    content: "\1F40D";
  }
  #maze div div.key::after {
    width: 1.8em;
    height: 1.8em;
    content: "";
    background: url(../images/sweater.png);
    background-size: 100%;
  }
  
  #maze div div:nth-child(odd) {
    width: 1.8em;
  }
  #maze div:nth-child(odd) div {
    height: 1.8em;
  }
  
  #maze.finished::after {
    /* position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    content: "Thanks for playing!";
    background: rgba(0,0,0,0.4);
    text-transform: uppercase;
    font-family: 'avenir_next_lt_probold', sans-serif;
    font-size: 5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    z-index: 10; */
  }

  
  #maze_output {
    display: flex;
    grid-column:2/3;
    align-items: center;
    justify-content: center;

  }
  #maze_score, #maze_message {
    font-family: 'avenir_next_lt_proregular', sans-serif;
    font-weight: bold;
    font-size: 1em;
  }
  #maze_score {
    flex: 1;
    white-space: nowrap;
    text-align: center;
    font-size:2em;
  }
  #maze_score::before {
    content: "Score: ";
  }
  #maze_score.has-key::after {
    content: "";
    background: url(../images/sweater.png);
    background-size: 100%;
  }

  #maze_message {
    text-align: right;
    position:absolute;
    top:25%;
    left:0;
    width: 100%;
    justify-content: center;
    text-align:center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'avenir_next_lt_probold', sans-serif;
    font-size: 5em;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.8);
    color: #fff;
    z-index: 10;
  }